<div class="container">
    <div class="jumbotron">
        <h1>Juan Villamoros | FullStack Developer</h1>
        <p>Bienvenido a mi website personal.</p>
        <%= link_to "Conóceme!", about_path %>
    </div>
</div>
